.mainDiv {
    margin-left: 7px;
}

.cardDiv {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    padding-bottom: 50px;
}

.cardSection {
    border-bottom: solid 1px black;
    margin-top: 15px;
}

.cardSection h2 {
    font-size: 1.6rem;
}

.cardSection p {
    font-size: 0.825rem;
}

.infoWindow p {
    font-family: 'Inconsolata', monospace;
}